@mixin font($font-size, $line-height, $weight: null, $font-family: $main-font) { 
    font: $weight #{$font-size}/#{$line-height} $font-family;
}
@mixin desktop {
    @media (min-width: $dekstop) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
@mixin mobile {
    @media (min-width: $mobile) {
        @content;
    }
}
@mixin box ($width, $heigh: $width){
    width: $width;
    height: $heigh;
}
