.header-form {
    position: relative;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
        @include box (100%, 57px);
        background: url(../img/down.svg) no-repeat center center/cover ; 
    }
    &__img-form {
        position: relative;
        padding: 56px 0 90px 0;
        max-width: 100%;
        background: url(../img/intro.jpg)no-repeat center center/cover ;
    }
    &__img-text-form {
        @include box (100%, 39px);
        background: url(../img/text-sedona.svg) no-repeat center center/contain;
        @include tablet {
            height: 77px;
        }
    }
}