.menu {
    height: 56px;
    position: fixed;
    background-color: $second-color;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    position: relative;
    &__logo {
        margin: 0 auto;
        margin-top: 32px;
        position: relative;
    }
    &__logo-img {
        z-index: 999;
        position: relative;
        margin-left: 26px;
    }
    &__triangle{
        display: none;
        position: absolute;
        @include desktop{
            top: 0;
            left: -19px;
            display: block;
            margin: 0 auto;
            z-index: 99;
        }
    }
    &__burger {
        display: flex;
        margin: 12px 0;
        width: 32px; 
        height: 32px;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        :first-child {
            margin-top: 0;
        }
        @include tablet {
            display: none;
        }
    }
    &__burger-liner {
        width: 22px;
        display: block;
        margin-top: 5px;
        height: 4px;
        background-color: $font-color;
    }
    &__burger-liner-active {
        margin-bottom: -2px;
        &:nth-child(1) {
            transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) { 
            display: none;
        }
        &:nth-child(3) {
            transform: translateY(3px) rotate(45deg);
        }    
    }
    &__nav {
        position: fixed;
        z-index: 1;
        width: 100%;
        display: block;
        top: 56px;
        right: 0;  
        background-color: $font-color;
        // opacity: 0;
        // transform: translateX(100%);
        position: fixed;
        transition: opacity .2s ease-in, transform .2s ease-in;
        @include tablet {
            top: 0;
            background-color: $second-color;
        }
    }
    &__nav--active {
            opacity: 1;
            transform: translateX(0);
    }
    &__list {
        width: 100%;
        list-style-type: none; 
        display: block;
        @include tablet {
            min-width: 768px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__item {
        box-shadow: 0px -3px 0px rgba(1, 1, 1, 0.2);
        @include tablet {
            min-width: 153px;
            flex-shrink: 0; //флекс шринк ,отменяет сужение элемента,при уменьшении размера экрана
            flex-grow: 1;
        }
    }
    &__link {
        display: block;
        text-align: center;
        padding: 10px 0 5px 0;
        @include font(18px, 40px, 700);
        text-transform: uppercase;
        color: $second-color;
        text-decoration: none; 
        border-bottom: 1px solid $second-color;
        @include tablet {
            @include font(14px, 26px,700);
            color: $third-color;
            padding: 15px 11px 14px 9px;
        }
    }
    &__link-empty {
        @include mobile {
            display: none;
        }
    }
}